joblib==1.6.0
kaggle==2.2.4
matplotlib==3.11.2
nltk==3.10.3
numpy==2.5.3
pandas==3.0.6
pyarrow==25.0.1
pytest==9.1.1
scikit-learn==1.9.1
scipy==1.18.1
seaborn==0.13.2
streamlit==1.64.0
tabulate==0.10.0
